*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: black !important;
    position: fixed;
    width: 100%;
    
}
.nav-link{
    margin: 2px 42px !important;
    color: white !important;
    font-weight: bold;
   padding-left: 28px;
}
.nav-link:hover{
    background-color: white;
    color: black !important;
    border-radius: 20px;
    font-weight: bolder !important;
    padding: 10px 37px;

}
.active-page{
    background-color: white;
    color: black !important;
    border-radius: 20px;
    font-weight: bolder !important;

}
.navbar-brand img{
    width:80px ;
    height: 40px;
}
.navbar-toggler{
    background-color: red !important;
}

/* HOME */
#home{
    display: flex;
    flex-direction: column;
    height: 700px;
    /* padding: 3px 200px; */
    justify-content: center;
    align-items: center;
  
    
    
}
#home::before{
    content: "";
    background-image: url("../images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 1480px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
   color:white;
   text-align: center;
   display: flex;
  

}
#home p{
    color:white;
    text-align: center;
    font-size: 20px;
    display: flex
}
/* VISIT */
.visit p{
    margin-top: 20px;

}
.visit img{
    margin-left:10px ;
}
/* SOCIAL MEDIA */
.social-media img{
    width: 200px;
    height: 99px;
    margin: 20px 55px;
    
}

@media screen and (max-width: 768px) {
    .social-media img {
      height: 90px;
    }
  }




.social-media{
    justify-content: center;
    align-items: center;
    
}
/* CONTACT */
.contact{

    margin-top: 389px;
    background-color:  rgb(54, 49, 49);
}
.contact-icons{

    width: 20px;
    height: 20px;

}






/* UTILITY CLASSES */
.h-primary{

    font-size: 2.8rem;
    padding: 12px;
    color:white !important;
}
.h-secondary{
    font-size: 40px;
    font-weight: bold;

}
.heading{
    background-color: rgb(128, 111, 111);
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
  
}
footer{
   margin-top: -17px;
    background-color: black;
    color: white;
    padding: 9px 20px;
}
.responsive{
    /* margin-top: 200px; */
  
}

p{
    color: white;
}
